<% if session[:role] != 'librarian' and session[:role] != 'admin' %>
  <h1 color="red">You are not authorized to view this page</h1>
  <% else %>


<h1>Editing Student Information</h1>

<%= render 'editf' %>

<% end %>
