<style type="text/css">
td
{
    padding:0 41px 0 30px;
}
</style>
<h1>My Books</h1>

<table>
<th>ISBN</th>
<th>Title</th>
<th>Status</th>
<% if !@tran.nil? then @tran.each do |tra| %>
  <tr>
    <td><%= tra.ISBN %></td>
    <td><%=tra.bookname%></td>
    <td><%= tra.status %></td>
    
  </tr>
<% end %>
<% end %>
</table>
