<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>Hello, <%= @student[:name] %></h3>

<p>
  This is a reminder that the following item is available for pick up at the
  library listed above. Please pick up your item(s) as your hold will expire in
  three days.
</p>
</body>
</html>

